<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Dashio - Bootstrap Admin Template</title>

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="lib/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <script src="lib/chart-master/Chart.js"></script>

    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>
<section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header th:insert="blocks/header :: header"></header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside th:insert="blocks/aside :: aside"></aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- /row -->
            <div class="row mt-5">
                <div class="col-lg-6">
                    <a href="xirurg.html">
                        <button class="btn btn-success py-3 px-5" style="font-size: 16px;" ><i class="fas fa-arrow-left mr-2"></i>Назад</button>
                    </a>
                </div>
                <div class="col-lg-6"></div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-12">
                    <div class=" p-4 bg-white">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <label for="nameInputEmail1">Имя</label>
                                <input type="text" name="first_name" class="form-control" style="height: 36px; font-size: 13px;" id="nameInputEmail1" aria-describedby="emailHelp" placeholder="Введите имя">
                            </div>
                            <div class="form-group">
                                <label for="surnameInputEmail1">Фамилия</label>
                                <input type="text" name="last_name" class="form-control" style="height: 36px; font-size: 13px;" id="surnameInputEmail1" aria-describedby="emailHelp" placeholder="Введите фамилия">
                            </div>
                            <div class="form-group">
                                <label for="professionInputEmail1">Профессия</label>
                                <input type="text" name="profession" class="form-control" style="height: 36px; font-size: 13px;" id="professionInputEmail1" aria-describedby="emailHelp" placeholder="Введите профессия">
                            </div>
                            <div class="form-group">
                                <label for="dateofbornInputEmail1">Дата рождения</label>
                                <input type="date" name="date_of_born" class="form-control" style="height: 36px; font-size: 13px;" id="dateofbornInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="regionInputEmail1">Регион</label>
                                <input type="text" name="region" class="form-control" style="height: 36px; font-size: 13px;" id="regionInputEmail1" aria-describedby="emailHelp" placeholder="Введите регион" >
                            </div>
                            <div class="form-group">
                                <label for="phoneInputEmail1">Тел номер</label>
                                <input type="tel" name="phone_number" class="form-control" style="height: 36px; font-size: 13px;" id="phoneInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="imgInputEmail1">Загрузка картинку</label>
                                <input type="file" name="image" class="form-control btn btn-primary w-25" style="height: 36px; font-size: 13px;" id="imgInputEmail1" aria-describedby="emailHelp">
                            </div>


                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary btn-lg py-3 px-5">Добавить</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->

</section>
<!-- js placed at the end of the document so the pages load faster -->
<script src="lib/jquery/jquery.min.js"></script>

<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
<script src="lib/jquery.scrollTo.min.js"></script>
<script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
<script src="lib/jquery.sparkline.js"></script>
<!--common script for all pages-->
<script src="lib/common-scripts.js"></script>
<script type="text/javascript" src="lib/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="lib/gritter-conf.js"></script>
<!--script for this page-->
<script src="lib/sparkline-chart.js"></script>
<script src="lib/zabuto_calendar.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to Dashio!',
        // (string | mandatory) the text inside the notification
        text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo.',
        // (string | optional) the image to display on the left
        image: 'img/ui-sam.jpg',
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
    });
  </script>
<script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
</body>

</html>
